<div class="filter" data-filter-wrapper>
	<div class="filter_wrapper">

		{% for label,filter_item in filters %}
{#				{% if label !=  'msk' %}#}
					{% if filter_item.type == 'select' %}
						{{ this.render('filter_select.twig', {
							'filter_item':filter_item,
							'label':label,
							'filter_active': filter_active
						}) | raw }}
					{% elseif filter_item.type == 'checkbox' %}
						{{ this.render('filter_checkbox.twig', {
							'filter_item':filter_item,
							'label':label,
							'filter_active': filter_active
						}) | raw }}
					{% elseif filter_item.type == 'hidden' %}
						{{ this.render('filter_hidden.twig', {
							'filter_item':filter_item,
							'label':label,
							'filter_active': filter_active
						}) | raw }}
					{% endif %}
{#				{% endif %}#}
		{% endfor %}

		<div class="filter_submit">
		    <div class="filter_submit_button _button" data-filter-button>Подобрать</div>
		</div>

		<div class="form_close" data-filter-close></div>

	</div>
</div>