.advertising-container {
  width: 1200px;
  margin: auto;
  position: relative;

  .advertising-title {
    padding-bottom: 40px;
    text-align: center;
  }
}

.advertising-form {
  margin: 0px auto;
}