.form_wrapper{
	width: 100%;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
	padding: 25px 75px 40px;
	position: relative;

	.form_main {
		display: flex;
		flex-direction: row;

		@include for-notdesc {
			flex-direction: column;
		}
	}

	.flower_corner {
		position: absolute;
		z-index: 5;
		pointer-events: none;
	}

	.top_left {
		top: -15px;
		left: -15px;
		transform: rotate(180deg);
	}
	.top_right {
		top: -15px;
		right: -15px;
		transform: rotate(180deg) scale(-1, 1);
	}
	.bottom_right {
		bottom: -15px;
		right: -15px;
	}
	.bottom_left {
		bottom: -15px;
		left: -15px;
		transform: scale(-1, 1);
	}

	@include for-pad{
		padding: 25px 20px 30px;
	}

	@include for-mobile{
		padding: 25px 15px 30px;
	}
}

.form_close{
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 14px;
	transform: rotate(45deg);
	cursor: pointer;

	&:before,
	&:after{
		content: '';
		background: #F5D58F;
		position: absolute;
		border-radius: 2px;
	}

	&:before{
		width: 100%;
		height: 2px;
		top: 9px;
		left: 0px;
	}

	&:after{
		width: 2px;
		height: 100%;
		top: 0px;
		left: 9px;
	}

	&:hover{

		&:before,
		&:after{
			background: #FFB30F;
		}
	}
}

.form_title{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	.form_title_main{
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin-right: 9px;

		@include for-mobile{
			margin-right: 0px;
			font-size: 28px;
			line-height: 32px;
			text-align: center;
		}
	}

	.form_title_desc{
		font-weight: bold;
		font-size: 16px;
		color: #FFB30F;

		@include for-mobile{
			display: none;
		}
	}

	@include for-notdesc {
		align-items: center;
	}
}

.form_book.form_block {
	flex-direction: inherit;

	@include for-mobile {
		flex-direction: column;
	}
}

.form_block {
	display: flex;
	margin-top: 30px;
	flex-direction: column;
	width: 100%;

	@include for-pad{
		flex-direction: column;
	    align-items: center;
	}

	@include for-mobile{
		flex-direction: column;
	    align-items: center;
	}

	.form_inputs {
		display: flex;
		flex-wrap: wrap;
		width: 780px;

		.input_wrapper:nth-child(1){ order: 1; }
		.input_wrapper:nth-child(2){ order: 2; }
		.input_wrapper:nth-child(3){ order: 4; }
		.input_wrapper:nth-child(4){ order: 5; }
		.input_wrapper:nth-child(5){ order: 6; }
		.form_checkboxes{ order: 7; }
		.form_connection{ order: 8; }

		.input_wrapper{
			width: 130px;
			margin-right: 20px;

			@include for-mobile{
				width: 100% !important;
			}

			&._big{
				width: 220px;

				@include for-pad{
					width: 196px;
				}
			}

			.input_label{
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
			}

			input{
				border: 1px solid #C4C4C4;
				box-sizing: border-box;
				border-radius: 2px;
				width: 100%;
				height: 40px;
				padding: 9px 16px 6px;

				&._invalid{
					border-color: #ea3e3e;
				}
			}

			input[type=date]::-webkit-calendar-picker-indicator {
				transform: scale(1.3);
				margin-right: 4px;
			}

			.input_desc{
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				color: #666666;
			}
		}

		.form_checkboxes{
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 20px;

			@include for-pad{
				justify-content: center;
			}

			@include for-mobile{
				margin: 0px;
				flex-direction: column;
			}

			.checkbox_title{
				font-weight: bold;
				font-size: 16px;
				line-height: 26px;
				margin-right: 15px;

				@include for-pad{
					margin: 0px 5px 0px 10px;
				}

				@include for-mobile{
					margin: 0px;
					width: 100%;
				}
			}

			.checkbox_wrapper{
				display: flex;

				@include for-mobile{
				    flex-direction: column;
					margin-bottom: 10px;
					width: 100%;
				}
			}
		}

		@include for-pad{
			width: initial;
			justify-content: center;

			.input_wrapper{
				margin: 0px 7px;
			}
		}

		@include for-mobile{
			width: 100%;
			.form_connection{ order: 3; }

			.input_wrapper{
				margin: 0px 0px 15px;
			}
		}
	}

	.form_connection {
		margin-top: 10px;
		margin-bottom: 20px;

		p {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: $clrBlack;
			margin-bottom: 5px;
		}

		.form_media {
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
			column-gap: 10px;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $clrLightGrey;
				border-radius: 5px;
				width: 142px;
				height: 34px;
				cursor: pointer;

				&:hover {
					transition: all 0.3s ease;
					background-color: $clrPagination;
					border: 1px solid $clrPagination;
				}

				@include for-mobile {
					//width: 127px;
					flex-grow: 1;
				}
			}

			img {
				padding-right: 6px;
			}

			span {
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 22px;
				color: $clrBlack;
			}

			@include for-mobile {
				justify-content: space-between;
			}

			@media (max-width: 340px) {
				//column-gap: inherit;
			}
		}
	}

	.form_submit{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 15px;
		row-gap: 8px;
		//width: calc(100% - 780px);

		@include for-pad{
		    width: 100%;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		}

		@include for-mobile{
			width: 100%;
		}

		input._button{
			height: 50px;
			//margin-top: 21px;

			@include for-pad{
				width: 180px;
			}

			@include for-mobile{
				width: 100%;
			}

			&.disabled{
				pointer-events: none;
				opacity: 0.6;
			}
		}

		.form_policy{
			//margin-top: 10px;

			p{
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;

				&:before{
					top: 0px;
				}

				&:after{
					top: 3px;
				}
			}

			a{
				//text-decoration: underline;
				color: #5BA641;
			}
		}
	}
}

.form_success{
	display: none;
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
	padding: 25px 75px 40px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include for-pad{
		padding: 25px 20px 30px;
	}

	@include for-mobile{
		padding: 25px 20px 30px;
	}

	&._active{
		display: flex;
	}

	.form_success_title{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;

		.form_success_title_main{
			font-weight: 600;
			font-size: 36px;
			line-height: 44px;
			margin-right: 9px;

			@include for-mobile{
				margin-right: 0px;
				font-size: 28px;
				line-height: 32px;
				text-align: center;
			}
		}
	}

	.form_success_text{
		max-width: 600px;
		margin-bottom: 10px;
		text-align: center;
	}

	.form_success_close{
		cursor: pointer;
	}
}

.active_form_btn {
	border: 1px solid $clrPagination !important;
	background-color: $clrPagination !important;
}

.form_item_anchor {
	position: absolute;
	top: -140px;
}