.items_list_listing{
    margin-top: 40px;

    @include for-mobile{
        margin: 5px 0px 0px;
    }

    .items_list{
        display: flex;
        flex-wrap: wrap;
        //justify-content: center;

        .listing_widget_link {
            min-height: 360px;
        }

        em{
            background: rgba(122,207,207,0.35);
            border-radius: 3px;
            padding: 0 3px;
        }
    }

    .item{
        width: calc((100% / 4) - 30px);
        margin: 12.5px;
        background-color: $clrCardBg;
        box-shadow: $shadowCard;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.2s ease;
        border-bottom: none !important;
        border-radius: 5px;

        &.other{
            //width: calc((100% / 5) - 20px);
            width: calc((100% / 4) - 20px);
            margin: 10px;

            .item_info{
                padding: 10px 10px 25px;
                height: calc(100% - 238px);
            }

            .item_img{
                height: 238px;
            }

        }

        @media (max-width: 1650px) and (min-width: 1201px) {
            width: calc((100% / 3) - 30px);
        }
        @media (max-width: 1200px) and (min-width: 768px) {
            width: calc((100% / 2) - 30px);
        }
        @media (max-width: 767px){
            width: calc((100% / 1) - 30px);
        }

        &:hover{
            box-shadow: $shadowCardHover;

            .item_img{

                .item_img_subimg{
                    display: block;
                    animation: .2s linear 0s 1 alternate image_swap;
                }
            }
        }

        .item_img{
            width: 100%;
            height: 302px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px 5px 0px 0px;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .item_img_subimg{
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item_info{
            padding: 10px 15px 20px;
            height: calc(100% - 302px);
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include for-mobile{
                padding: 15px 10px 20px;
            }

            .item_info_top{

                .item_name{
                    font-weight: bold;
                    line-height: 23px;
                    font-size: 16px;

                    a {
                        padding-bottom: 2px;
                        border-bottom: 1px solid rgba($clrBlack, 0.3);
                    }

                    a:hover {
                        color: $clrButton;
                        border-bottom: 1px solid $clrButton;
                        transition: all 0.3s ease;
                    }
                }

                .item_parent_name{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 15px;
                    color: #5BA641;
                    margin-top: 14px;
                }

                .item_address{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: $clrTextInactive;
                    margin-top: 2px;
                }

                .item_about_main {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 4px;

                    .item_capacity_wrap {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: $clrBlack;

                        .item_capacity_count {
                            font-weight: 700;
                        }
                    }
                }

                .item_arenda {
                    display: flex;
                    font-size: 14px;
                    gap: 8px 8px;
                    margin-top: 16px;

                    & > div {
                        border: 1px solid $clrLightGrey;
                        border-radius: 5px;
                        position: relative;
                        padding: 14px;
                        padding-bottom: 8px;
                        flex: 1 1 0px;

                        & > span {
                            position: absolute;
                            top: -8px;
                            left: 6px;
                            display: block;
                            background-color: $clrCardBg;
                            white-space: nowrap;
                            padding: 0px 4px 4px 4px;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 500;
                        }
                    }

                    & .item_arenda_banket {
                        .item_arenda_banket_zal {
                            margin-bottom: 4px;
                        }

                        .item_arenda_banket_banket {
                            white-space: nowrap;
                        }

                        .item_arenda_banket_zal, .item_arenda_banket_banket {
                            span {
                                font-weight: 700;
                            }
                        }
                    }

                    & .item_arenda_food {
                        .item_arenda_text {
                            font-weight: 700;
                            line-height: 22px;
                        }
                    }

                    @include for-mobile {
                        flex-wrap: wrap;
                        flex-direction: column;
                        row-gap: 12px;
                    }
                }

                .item_meta{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 5px;
                    column-gap: 10px;
                    justify-content: space-between;

                    .item_meta_item{
                        //padding: 0px 30px 0px 0px;
                        margin: 10px 0px 0px;
                        //width: 50%;
                        min-width: 202px;
                        //max-width: 204px;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;

                        img {
                            margin-bottom: -2px;
                        }

                        //@include for-notdesc {
                        //    max-width: inherit;
                        //}

                        @include for-mobile{
                            padding: 0px;
                            width: 100%;
                        }

                        .item_meta_label{
                            color: $clrTextInactive;
                        }

                        .item_meta_text{}
                    }
                }
            }

            //.item_info_bottom {
            //    margin-top: 20px;
            //    display: flex;
            //    gap: 10px 10px;
            //
            //    a {
            //        display: flex;
            //        align-items: center;
            //        flex-grow: 1;
            //        flex-basis: 202px;
            //    }
            //
            //    .bottom_call_mobile {
            //        display: none;
            //    }
            //
            //    button {
            //        display: flex;
            //        align-items: center;
            //        border-radius: 5px;
            //        padding: 13px 4px 14px 4px;
            //        justify-content: center;
            //        column-gap: 5px;
            //        flex-grow: 1;
            //        border: 1px solid $clrButton;
            //        color: $clrBlack;
            //        font-weight: 700;
            //        font-size: 16px;
            //        line-height: 26px;
            //        cursor: pointer;
            //
            //        &:first-child {
            //            color: #FFFFFF;
            //            background-color: $clrButton;
            //        }
            //
            //        &:last-child  {
            //            span {
            //                //width: 114px;
            //            }
            //        }
            //
            //
            //        span {
            //            white-space: nowrap;
            //        }
            //
            //        @media (max-width: 480px) {
            //
            //            .item_btn_text {
            //                display: none;
            //            }
            //
            //            .span_mobile {
            //                display: inline-block;
            //            }
            //
            //            .book_icon {
            //                display: none;
            //            }
            //
            //            //span {
            //            //    font-size: 14px;
            //            //    line-height: 22px;
            //            //}
            //            //
            //            //&:not(:last-child) {
            //            //    svg {
            //            //        display: none;
            //            //    }
            //            //}
            //            //
            //            //&:last-child {
            //            //    border: none;
            //            //    padding: 0;
            //            //    justify-content: center;
            //            //    width: 28px !important;
            //            //    flex-grow: 0;
            //            //
            //            //    .item_bottom_icon {
            //            //        transform: scale(1.5);
            //            //    }
            //            //
            //            //    .item_bottom_icon path {
            //            //        stroke-width: 1px;
            //            //        stroke: $clrBlack;
            //            //    }
            //            //}
            //            //
            //            //.item_btn_text {
            //            //    display: none;
            //            //}
            //
            //        }
            //    }
            //
            //    .span_mobile, .call_btn_mobile {
            //        display: none;
            //
            //        @media (max-width: 480px) {
            //            display: block;
            //        }
            //    }
            //
            //    @include for-mobile {
            //        flex-wrap: wrap;
            //    }
            //
            //    @media (max-width: 480px) {
            //
            //        a {
            //            display: inline-block;
            //            flex-grow: inherit;
            //
            //            button {
            //                width: 110px;
            //                height: 49px;
            //                background: #7ABF62;
            //                border-radius: 5px;
            //            }
            //        }
            //
            //        button.add_favorites {
            //            flex-grow: inherit;
            //        }
            //
            //        .bottom_call_mobile {
            //            display: inline-block;
            //
            //            button {
            //                display: flex;
            //                align-items: center;
            //                justify-content: center;
            //                background: #FFFFFF;
            //                border: 1px solid $clrButton;
            //                border-radius: 5px;
            //
            //                span {
            //                    font-style: normal;
            //                    font-weight: 700;
            //                    font-size: 14px;
            //                    line-height: 22px;
            //                    color: $clrBlack;
            //                }
            //            }
            //        }
            //
            //        .add_favorites {
            //            border: none;
            //
            //            .item_bottom_icon {
            //                transform: scale(1.5);
            //            }
            //
            //            .item_bottom_icon path {
            //                stroke-width: 1px;
            //                stroke: $clrBlack;
            //            }
            //        }
            //
            //        .add_favorites._active {
            //            .item_bottom_icon path {
            //                stroke: $clrButton;
            //            }
            //        }
            //    }
            //}
        }

        .item_flags{
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 10px 10px 0px 0px;

            .item_flag{
                display: flex;
                align-items: center;
                background: white;
                height: 26px;
                padding: 0px 9px 0px 25px;
                border-radius: 3px;
                font-size: 11px;

                &._gift{
                    background-image: url(/img/gift_icon.svg);
                    background-position: 6px 4px;
                    background-repeat: no-repeat;
                    background-size: 13px;
                }
            }
        }
    }
}

@keyframes image_swap{
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.help_with_choose {
    display: none;
    position: fixed; 
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    background: #F5D58F;
    border-radius: 5px;
    z-index: 100;
    padding: 13px 20px;
    text-align: center;
    cursor: pointer;

    span {
        white-space: nowrap;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: $clrBlack;
    }
}
.add_favorites._active svg{
    fill: #7ABF62;
}
